:root {
    --white: #FFFFFF;
    --grey: #F4F2F2;
    --clr-dark-200: #292929;
    --clr-dark: #000000;
    --ff-clash: "Clash Display", sans-serif;
    --ff-satoshi: "Satoshi", sans-serif;
    --ff-stix: "STIX Two Text", serif;
    --ff-belle: "Bellefair", serif;
    --ff-poppins: "Poppins", sans-serif;
    --ff-xsmall: 1.125rem;
    --fz-small: 1.25rem;
    --fz-medium: 1.4rem;
    --fz-large: 2.5rem;
    --fz-xlarge: 5rem;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
}


.artsy {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

header {
    width: 100%;
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 4rem;
}

.logo {
    font-size: 2rem;
    font-weight: var(--fw-700);
    color: var(--clr-dark-200);
}

.artsy-nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.artsy-nav-link {
    position: relative;
    font-family: var(--ff-satoshi);
    font-size: var(--fz-small);
    font-weight: var(--fw-400);
    text-decoration: none;
    color: var(--clr-dark-200);
    margin-inline: 1rem;
}

.artsy-nav-link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--clr-dark);
    height: 2px;
    width: 0%;
    transition: all .3s ease-in-out;
}

.artsy-nav-link:hover::after {
    width: 100%;
}

.artsy-hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.artsy-intro-text {
    font-family: var(--ff-clash);
    font-size: var(--fz-xlarge);
    line-height: 100px;
    margin-bottom: 3rem;
    text-align: center;
}

.artsy-intro-desc {
    font-size: var(--fz-medium);
    font-family: var(--ff-satoshi);
    max-width: 926px;
    padding-inline: 5rem;
    text-align: center;
}

.artsy-header-icons {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.artsy-header-icons i {
    max-width: 100%;
    font-size: 1.5rem;
    height: auto;
    cursor: pointer;
}

.artsy-hero-section {
    margin-bottom: 7rem;
}

/* MarketPlace Search */
.product-section-wrapper {
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.product-search-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.product-search-container input {
    background: none;
    background-color: var(--grey);
    border: none;
    padding: 1.2rem;
    border-radius: 15px;
    font-size: var(--fz-small);
    outline: none;
}

.product-search-container h3 {
    font-size: var(--fz-small);
    font-weight: var(--fw-400);
}

.result-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    background-color: var(--white);
    box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.1);
    padding: 1.2rem;
    border-radius: 15px;
    font-family: var(--ff-satoshi);

}

.sort-by {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-by i {
    cursor: pointer;
}

/* MarketPlace Filter */
.title {
    padding-bottom: 1rem;
    font-family: var(--ff-satoshi);
    font-size: var(--fz-small);
    position: relative;
}

.title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    bottom: 0;
    left: 0;
}

.title i {
    font-size: var(--fz-medium);
    margin-right: .5rem;
}

/* MarketPlace Products */
.product-section-container {
    width: 100%;
}

.product-section-split {
    display: flex;
    gap: 2em;
}

.product-section-sidemenu {
    position: relative;
    min-width: 20%;
}

.product-section-sidemenu-details {
    position: sticky;
    top: 0;
}

.product-section-products {
    width: 100%;
}

.product-section-products-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(242px, 1fr));
    place-items: center;
    gap: 1.5rem;
    /* margin: auto; */
}

.product-card {
    width: 241px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: 0px 34px 68px rgba(217, 225, 244, 0.36);
    padding: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
    border-radius: 15px;
    cursor: pointer;
}

.product-card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.product-card-img:hover {
    transform: scale(1.02);
}

.product-name {
    margin: 1rem 0;
    font-family: var(--ff-satoshi);
}

.product-name:hover {
    text-decoration: underline;
}

.product-price {
    font-family: var(--ff-satoshi);
    font-size: var(--fz-small);
    font-weight: var(--fw-500);
}

.by-category-title {
    margin-block: 2.5rem;
}

.by-category-list {
    list-style: none;
}

.by-category-list-item-input {
    outline: none;
    border: none;
    background-color: var(--grey);
}

/* Cart Modal */
.modal-container {
    display: block;
    width: max-content;
    height: auto;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -40%) scale(0);
    transition: all .2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border: 1px solid var(--clr-dark);
    background-color: white;
    padding: 2rem;
    margin: auto;
    z-index: 888;
}

.modal-container.show-modal {
    transform: translate(-50%, -40%) scale(1);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.close-btn {
    width: 100%;
    padding: 1rem;
    text-align: right;
    color: var(--white);
    font-size: 3rem;
    cursor: pointer;
    z-index: 999;
}

.modal {
    position: relative;
    width: 100%;
    height: 100%;
}

.modal-split {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    margin: auto;
}

.modal-split .img-container {
    width: 400px;
    height: 100%;
    object-fit: cover;
    border-left: 1px solid var(--clr-dark);
    border-top: 1px solid var(--clr-dark);
    border-bottom: 1px solid var(--clr-dark);
    padding: 2rem;
}

.modal-split img {
    width: 100%;
    height: auto;
}

.modal-details-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid var(--clr-dark);
}

.modal-details-head {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-dark);
}

.modal-product-name {
    font-family: var(--ff-satoshi);
}

.modal-product-price {
    font-family: var(--ff-stix);
    font-size: 1.5rem;
    font-weight: var(--fw-400);
}

.modal-details-body {
    padding: 2rem;
}